@font-face 
{
    font-family: 'No. Seven Regular';
    src: url('font/NoSevenRegular.eot');
    src: url('font/NoSevenRegular.eot?#iefix') format('embedded-opentype'),
    url('font/NoSevenRegular.woff') format('woff'),
    url('font/NoSevenRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(247, 242, 242);
}

.container
{
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAVBAR */

nav
{
    width:100%;
    background-color: #151B36;
    height: 150px;
}

nav .logo
{
    font-family: 'No. Seven Regular';
    font-size: 2.2em;
    font-weight: 400;
}

nav .container ul
{
    display:flex;
    list-style: none;
}

nav .container ul a
{
    text-decoration: none;
}

nav .container ul a li
{
    padding-left: 40px;
    font-size: 22px;
    font-weight: 600;
}

nav .container ul a li:hover
{
    color: #EC6834;
}


/* HERO-BANNER */

.hero-banner
{
    background-color: #151B36;
}

.hero-banner .container
{
    justify-content: space-around;
    padding-top: 100px;
}

.hero-banner .container .presentation-arnaud
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner .container .presentation-arnaud h1
{
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-banner .container .presentation-arnaud h2
{
    font-weight: 500;
    margin-bottom: 35px;
}

.hero-banner .container .presentation-arnaud button
{
    background-color: #EC6834;
    border: none;
    border-radius: 7px;
    width: 230px;
    height: 55px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

.hero-banner .container img
{
    width: 21%;
    border-radius: 50%;
}
