@font-face 
{
    font-family: 'No. Seven Regular';
    src: url('font/NoSevenRegular.eot');
    src: url('font/NoSevenRegular.eot?#iefix') format('embedded-opentype'),
    url('font/NoSevenRegular.woff') format('woff'),
    url('font/NoSevenRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(247, 242, 242);
    list-style: none;
    text-decoration: none;
}

body
{
    background-color: #151B36;
}

i
{
    font-size: 3em;
    color: #EC6834;
    margin-bottom: 10px;
}

.container
{
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bts-sio .container h2
{
    font-weight: 600;
    margin-top: 50px;
}

/* NAVBAR */

nav
{
    width:100%;
    height: 150px;
}

nav .logo
{
    font-family: 'No. Seven Regular';
    font-size: 2.2em;
    font-weight: 400;
}

nav .container ul
{
    display: flex;
}

nav .container ul a li
{
    padding-left: 40px;
    font-size: 1.3em;
    font-weight: 600;
}

nav .container ul a li:hover
{
    color: #EC6834;
}


/* HERO-BANNER */

.hero-banner .container
{
    justify-content: space-around;
    padding-top: 100px;
}

.hero-banner .container .presentation-arnaud
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner .container .presentation-arnaud h1
{
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-banner .container .presentation-arnaud h2
{
    font-weight: 500;
    margin-bottom: 35px;
}

.hero-banner .container .presentation-arnaud button
{
    background-color: #EC6834;
    border: none;
    border-radius: 7px;
    width: 230px;
    height: 55px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

.hero-banner .container img
{
    width: 21%;
    border-radius: 50%;
}

/* SECTION BTS-SIO */

#bts-sio .container
{
    flex-direction: column;
    align-items: baseline;
    padding-top: 200px;
}

#bts-sio .container .test
{
    display: flex;
    flex-direction: column;
}

#bts-sio .container .test h1
{
    font-weight: 700;
    font-size: 2.5em;
}

#bts-sio .container .test h1::after
{
    display: block;
    content : "";
    width: 60px;
    height: 5px;
    border-radius: 5px;
    background-color: #EC6834;
    margin: 15px 0 40px 0;

}

#bts-sio .container .test p
{
    width: 750px;
}

#bts-sio .container .specialites
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

#bts-sio .container .specialites div[class^="specialite-"]
{
    width: 400px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 242, 242);
    border-radius: 35px;
    padding: 40px;
}

#bts-sio .container .specialites div[class^="specialite-"] h3
{
    color: #171515;
    margin-bottom: 50px;
}

#bts-sio .container .specialites div[class^="specialite-"] p
{
    color: #171515;
    text-align: center;
    font-weight: 600;
}

#bts-sio .container .enseignements
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

#bts-sio .container .enseignements div[class^="enseignement-"]
{
    width: 400px;
    background-color:rgb(247, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    padding: 40px;
}

#bts-sio .container .enseignements div[class^="enseignement-"] h3
{
    color:#171515;
    margin-bottom: 45px;
    font-size: 1.35em;
}

#bts-sio .container .enseignements div[class^="enseignement-"] ul li
{
    color: #171515;
    padding-bottom: 15px;
}

/* SECTION COMPETENCES */

#competences .container
{    
    flex-direction: column;
    align-items: baseline;
    padding-top: 200px;
}

#competences .container h1
{
    font-size: 2.5em;
    font-weight: bold;
}

#competences .container h1::after
{
    display: block;
    content : "";
    width: 60px;
    height: 5px;
    border-radius: 5px;
    background-color: #EC6834;
    margin: 15px 0 40px 0;
}

#competences .container .card-tableau
{
    width: 80%;
    background-color: rgb(247, 242, 242);
    margin: 25px auto;
    border-radius: 15px;
    padding: 20px;
}


/* SECTION VEILLE TECHNOLOGIQUE */

#veille-techno .container
{
    flex-direction: column;
    align-items: baseline;
    padding-top: 200px;
}

#veille-techno .container h1
{
    font-size: 2.5em;
    font-weight: bold;
}

#veille-techno .container h1::after
{
    display: block;
    content : "";
    width: 60px;
    height: 5px;
    border-radius: 5px;
    background-color: #EC6834;
    margin: 15px 0 40px 0;
}

#veille-techno .container h2
{
    font-weight: 600;
    text-decoration-line: underline;
    margin-bottom: 50px;
}

#veille-techno .container p
{
    width: 600px;
    font-size: 1.15em;
}

#veille-techno .container .veille
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}




#veille-techno .container .veille .card-veille
{
    width: 400px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 242, 242);
    border-radius: 35px;
    padding: 40px;
    margin-top: 65px;
    
}

#veille-techno .container .veille .card-veille .fa-brands
{
    font-size: 6em;
    margin-bottom: 30px;
}

#veille-techno .container .veille .card-veille h2
{
    color: #171515;
    font-size: 2.3em;
    text-align: center;
    text-decoration-line: none;
}

#veille-techno .container .veille .source-veille
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#veille-techno .container .veille .source-veille h2
{
    align-self: center;
    font-size: 1.8em;
    text-decoration-line: none;
}

#veille-techno .container .veille .source-veille .source-veille-cours
{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

#veille-techno .container .veille .source-veille .source-veille-cours img
{
    width: 30%;
    border: 8px solid #fff;
    border-radius: 20px;
    margin-right: 30px;
}

#veille-techno .container .veille .source-veille .source-veille-doc
{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

#veille-techno .container .veille .source-veille .source-veille-doc img
{
    width: 30%;
    border: 8px solid #fff;
    border-radius: 20px;
    margin-right: 30px;
}








